@model IEnumerable<ContosoUniversity.Models.OfficeAssignment>

@{
    ViewBag.Title = "OfficeAssignment";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Instructor Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorID })
        </td>
    </tr>
}

</table>
